<body class="service-details-page">

  <%- include('../partials/_navbar.ejs') %>



    <main class="main">

      <!-- Service Details Section -->
      <section id="service-details" class="service-details section">

        <div class="container">

          <div class="row gy-5">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

              <div class="service-box">
                <h4>Admin Dashboard</h4>
                <div class="services-list">
                  <a href="/user/index.ejs" class="active"><i
                      class="bi bi-arrow-right-circle"></i><span>Users</span></a>
                  <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Teacher</span></a>
                  <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Classes</span></a>
                </div>
              </div><!-- End Services List -->



            </div>

            <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">

              <!--  //Write code here -->
              <p>Admin Show Page</p>

            </div>

          </div>

        </div>

      </section><!-- /Service Details Section -->

    </main>





</body>

</html>