<main class="main">

  <section id="service-details" class="service-details section">

    <div class="container">



      <div class="col-lg-3">

        <div class="service-box">
          <h4>Serices List</h4>
          <div class="services-list">
            <a href="#" class="active"><i class="bi bi-arrow-right-circle"></i><span>Users</span></a>
            <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Teacher</span></a>
            <a href="#"><i class="bi bi-arrow-right-circle"></i><span>Classes</span></a>

          </div>
        </div>


      </div>

    </div>

    </div>

  </section>

</main>