<p>Add New Subject</p>
<form action="/teacher" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" />
  <br>
  <button type="submit">Add Subject </button>
</form>
</div>