<h1>A Subject name <%= Subject.name %>
</h1>

<h2>Owner</h2>
<% if (Subject.owner._id.equals(user._id)) { %>
  <p>You own this!</p>
  <form action="/teacher/<%= Subject._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete this Subject</button>
  </form>

  <a href="/teacher/<%= Subject._id %>/edit">Edit this Subject</a>
  <% } else { %>
    <p>You don't own this, <%= Subject.owner.username %> does!</p>
    <% } %>